/* All */
* {box-sizing: border-box;}

body {font-family: Arial, Helvetica, sans-serif;
  background-color:#EEE8AA60;
  margin: 5px;}

h1{text-align: center;
  font-size: 42px;
  font-weight: bold; }
h2{text-align: center;
  font-size: 35px;
  font-weight: bold; 
  padding: 10px;}
h3{font-size: 23px;
  font-weight: bold; }
h4{font-size: 17px;
  font-weight: bold; }

.Main {background-color: #666;
  padding: 25px;
  text-align: center;
  font-size: 35px;
  color: white;}

address {font-size: 28px;
  background-color: #ccc;
  padding: 20px;
  text-align: center;
  color: white;}

/* Thematic break */
hr {height:2px;border-width:0;color:gray;background-color:gray}

/* Container for flexboxes */
section {
  display: -webkit-flex;
  display: flex;}

/* Navigation menu */
nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #ccc;
  padding: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: bold;}

.ParaTitle {padding: 10px; 
  border-style: dotted;
  border-width: 1.5px;
  border-color: green; 
  margin: 8px; 
  width: 200px;} 

/* Content */
article {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  background-color: #f1f1f1;
  padding: 10px;}

/* Images */
img {text-align: center;
  padding: 50px 280px;}
/* The caption of images */
figcaption {text-align: center;
  font-size: 18px;
  padding: 10px;
  font-weight: bold;
}

/* Hyperlinks */
	/* Link1 - contacts */
.Link1 {font-size: 28px;}
.Link1:link {color:green;}
.Link1:visited {color:grey;}
.Link1:hover {color:green;}
.Link1:active {color:yellow;}
	/* Link2 - personal webpages */
.Link2 {font-size: 15px;}
.Link2:link {color:green;}
.Link2:visited {color:grey;}
.Link2:hover {color:green;}
.Link2:active {color:yellow;}

/* Button (class) - switch pages */
.button {background-color: #2E8B57; 
  border: none;
  color: white;
  padding: 12px 26px;
  border-radius: 8px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px; 
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); }

